# Dependencies
node_modules/

# Next.js
.next/
out/
.vercel/

# Environment files
.env
.env.*

# Database
data.sqlite

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# Archives
*.zip
